<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgenSQL.Bitnine Global inc</title>
</head>
<body>
    <nav>
        <select name="lang" id="lang">
            <option value="English">English</option>
            <option value="korea"> Korea</option>
        </select>
        <div>
            <a href="#Search">Search</a>
            <a href="#contact">Contact</a>
        </div>
    <ul>
        <li><a href="#github">Github</a></li>
        <li><a href="#">Youtube</a></li>
        <li><a href="">linkedin</a></li>
        <li><a href="">facebook</a></li>
        <li><a href="">medium</a></li>
        
    </ul>
    </nav>

    <nav class="logo">
        <div class="bitnin">
            <img src="" alt="bitnine">
            <span>Bitnine</span>
        </div>
        <div class="navigation">
            <ul>
                <li><a href="">Products</a></li>
                <li><a href=""> Use cases</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Resources</a></li>
                <li><a href=""> Blog</a></li>
                <li><a href=""> Company</a></li>
                <li><a href="">IR</a></li>
                <li><a href="">Try free</a></li>
            </ul>
        </div>
    </nav>

    <section class="top">
        <h3>An integration of Bitnine’s DB technology and PG expertise</h3>
        <p>
            AgensSQL is an all-new relational DBMS based on PostgreSQL, with years of expertise
            and knowledge accumulated through database research and development.

            The enterprise package, along with AgensSQL engine, is an all-in-one solution that ensures
            the efficiency and scalability of data management.

            Get AgensSQL now for stable operation and management services at a reduced
            maintenance cost.
        </p>

        <ul>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Brochure</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </section>


    <section class="cards">
        <div class="first">
            Agens Enterprise Package
            <div class="usability">
               <h2>
                Usability
               </h2> 
               <div class="usability-card">
                <h3>
                    AEM(Agens Enterprise Manager)
                </h3>
                <div class="min-card">
                    <div class="left">
                        DB operation/Management <br>Monitoring Dashboard
                    </div>
                    <div class="right">
                        <p>SQL Edit/Execute/Inquiry HA & Extension Management</p>
                    </div>



                </div>
               </div>
            </div>


            <div class="scalabity ">
                <h3>
                    AgensSQL Extension server
                </h3>
                <div class="scability-cards dotted">
                    <div class="ahm">
                        <h3>AHM</h3>
                       <p> (Agens HA Manager)</p>
                    </div>
                    <div class="load">
                        <h3>Load balancer</h3>
                        <p>Backup/Restore</p>
                    </div>
                    <div class="sharing">
                        <p>Data Sharding</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="second">
            <h3>
                Stability

            </h3>
            <div class="center">
                <h3>AgensSQL DB Engine</h3>
                <div class="inner-card">
                    <h4>
                        PostgreSQL 12
                    </h4>
                    <Button>Data Security</Button>
                </div>
            </div>
        </div>
        <p>
            All-in-One Installation
        </p>

    </section>


    <section class="features">

        <h2>
            Key features
        </h2>
        <p class="description">
            Manage your data with Agens Enterprise package <br> Essential features such as high availability and sharing are provided

        </p>
        <div class="cards">
            <div>
                <div class="first-side">
                    <h4>
                        Data Security
                    </h4>
                    <p>
                        various security features are added to ensure security and stability of data
                    </p>
                </div>
                <div class="ico">
                    <i></i>
                </div>
            </div>
            <div>
                <i></i>
               <div class="rear">
                <h4>
                    Monitoring
                </h4>
                <p>
                    Monitoring dashboard views overall status of the DB such br the query analysis,operating environment status  <br> database audit,e.t.c

                </p>
               </div>
            </div>
            <div>
                <div class="avail">
                    <h4>High Availability</h4>
                    <p>
                        In the event of main system failure, the standby server minimizes downtime by restoring the system.
                    </p>
                </div>

                <i></i>
            </div>
            <div>
                <i></i>
                <div class="shar">
                    <h4>
                        Data sharding
                        <p>
                            Distribute a single dataset across multiple databases, increase the total storage capacity of the system
                        </p>
                    </h4>

                </div>
            </div>


            <div class="centerize">
                <p>Agens<span>SQL</span></p>
            </div>
        </div>


    </section>


    <section class="db-engine">
        <h3>AgensSQL DB Engine</h3>
        <h4>Enhanced Data security</h4>
        <p>AgensSql is a postgresSql-based DBMS <br> that gurantees optimal security and stability.</p>
        <div class="cards">
            <div class="card">
               <div class="orinal">
                <p>Password profile</p>
                <div class="creds chat">
                    <div class="log">
                        <i></i>
                        <p>Login</p>
                    </div>
                    <div class="pass">
                        <i></i>
                        <p>******</p>
                    </div>

                </div>
               </div>
               <div class="hover">
                <p>
                    User Password policy reinforces login Security
                    Excessive failed login attempts lock an account
                    define rules for password complxity.
                </p>
               </div>
            </div>
            <div class="card">
                <div class="original">
                    <p>Data reduction</p>
                <div class="chat">
                    <i></i>
                </div>
                </div>

                <div class="hover">
                    Enhanced data security <br>
                    resolve piracy issues in preparation for security audits <br>
                    encription or masking with unindetifiable special characters 
                </div>

            </div>
            <div class="card">
                <div class="original">
                    <p>Auditing</p>
                <div class="chat clip-path">
                    <i></i>
                </div>
                </div>

                <div class="hover">
                   monitors database activities and collects data <br>
                   traces object accessed or DDl & DML statements executed by user <br>
                   records all actions in logs
                </div>
                
            </div>
        </div>
    </section>


    <section class="enterprise">
        <h2>
            Agens Enterprise Package
        </h2>
        <p>
            Agens Enterprise Package comes with a high availability management server that
            supports backup and data monitoring dashboard that helps enterprise customers manage their data efficiently.  
        </p>
        <div class="bel">
            <div class="left">
                <h4>Agens HA Manager</h4>
                <h5><span>Ha Clustering</span>-Failover?Failback,load-balancing</h5>
                <div class="img-container">
                    <img src="" alt="servers">

                </div>
                <p>Replication</p>

            </div>

            <div class="right">
                <h4>
                    Agens Enterprise Manager  
                </h4>
                <div class="cards">
                    <div class="combinations">
                        <div class="rotate">
                            <p class="main">Backup and restore</p>
                            <div class="back">
                                <p>Provides convinient interface for backup and restore</p>
                            </div>

                        </div>
                        <div class="rotate">
                            DB monitoring Dashboard

                            <div class="back">
                                <p>Monitors real time sessions & transaction lock</p>
                            </div>

                        </div>
                    </div>
                    <div class="combinations">
                        <div class="rotate">
                            <p class="main">Schedule Management</p>
                            <div class="back">
                                <p>Provide module for script,Sql job and scheduling management </p>
                            </div>

                        </div>
                        <div class="rotate">
                            <p class="main">Databse Audit</p>
                            <div class="back">
                                <p>Enables auditing via user interface <br> view audit results via user interface</p>
                            </div>

                        </div>
                        
                       
                    </div>
                    <div class="combinations">

                        <div class="rotate">
                            <p class="main">SQl monitoring</p>
                            <div class="back">
                                <p>Collects query statics required for performance analysis  </p>
                            </div>

                        </div>
                        <div class="rotate">
                            <p class="main">Performance management</p>
                            <div class="back">
                                <p>monitors and coleects opration staus & statistical data</p>
                            </div>

                        </div>

                        >
                    </div>
                </div>
            </div>
        </div>
    </section>



</body>
</html>
