<div class="cards">
    <div>
        <div class="first-side">
            <h4>
                Data Security
            </h4>
            <p>
                various security features are added to ensure security and stability of data
            </p>
        </div>
        <div class="ico">
            <i></i>
        </div>
    </div>
    <div>
        <i></i>
       <div class="rear">
        <h4>
            Monitoring
        </h4>
        <p>
            Monitoring dashboard views overall status of the DB such br the query analysis,operating environment status  <br> database audit,e.t.c

        </p>
       </div>
    </div>
    <div>
        <div class="avail">
            <h4>High Availability</h4>
            <p>
                In the event of main system failure, the standby server minimizes downtime by restoring the system.
            </p>
        </div>

        <i></i>
    </div>
    <div>
        <i></i>
        <div class="shar">
            <h4>
                Data sharding
                <p>
                    Distribute a single dataset across multiple databases, increase the total storage capacity of the system
                </p>
            </h4>

        </div>
    </div>


    <div class="centerize">
        <p>Agens<span>SQL</span></p>
    </div>
</div>