<div class="cards">
    <div>
        <div class="first-side">
            <h4>
                Data Security
            </h4>
            <p>
                various security features are added to ensure security and stability of data
            </p>
        </div>
        <div class="ico">
            <i></i>
        </div>
    </div>
    <div>
        <i></i>
       <div class="rear">
        <h4>
            Monitoring
        </h4>
        <p>
            Monitoring dashboard views overall status of the DB such br the query analysis,operating environment status  <br> database audit,e.t.c

        </p>
       </div>
    </div>
    <div>
        <div class="avail">
            <h4>High Availability</h4>
            <p>
                In the event of main system failure, the standby server minimizes downtime by restoring the system.
            </p>
        </div>

        <i></i>
    </div>
    <div>
        <i></i>
        <div class="shar">
            <h4>
                Data sharding
                <p>
                    Distribute a single dataset across multiple databases, increase the total storage capacity of the system
                </p>
            </h4>

        </div>
    </div>


    <div class="centerize">
        <p>Agens<span>SQL</span></p>
    </div>
</div>
















<div class="first">
            Agens Enterprise Package
            <div class="usability">
               <h2>
                Usability
               </h2> 
               <div class="usability-card">
                <h3>
                    AEM(Agens Enterprise Manager)
                </h3>
                <div class="min-card">
                    <div class="left">
                        DB operation/Management <br>Monitoring Dashboard
                    </div>
                    <div class="right">
                        <p>SQL Edit/Execute/Inquiry HA & Extension Management</p>
                    </div>



                </div>
               </div>
            </div>


            <div class="scalabity ">
                <h3>
                    AgensSQL Extension server
                </h3>
                <div class="scability-cards dotted">
                    <div class="ahm">
                        <h3>AHM</h3>
                       <p> (Agens HA Manager)</p>
                    </div>
                    <div class="load">
                        <h3>Load balancer</h3>
                        <p>Backup/Restore</p>
                    </div>
                    <div class="sharing">
                        <p>Data Sharding</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="second">
            <h3>
                Stability

            </h3>
            <div class="center">
                <h3>AgensSQL DB Engine</h3>
                <div class="inner-card">
                    <h4>
                        PostgreSQL 12
                    </h4>
                    <Button>Data Security</Button>
                </div>
            </div>
        </div>
        <p>
            All-in-One Installation
        </p>

















